include *.txt
include userguide/UserGuide.pdf
recursive-include examples *
recursive-exclude examples *.sqlite *.sqlite3
prune examples/.ipynb_checkpoints
prune examples/powergim_doggerbank/.ipynb_checkpoints